body {
    background: linear-gradient(to right, #15273f, #132339, #111f32, #0f1b2c);
    box-sizing: border-box;
    font-family: "Quantico", sans-serif;
    font-weight: 700;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    padding: 1rem;
    border-radius: 10px;
    background-color: #030c1a;
    box-shadow: 0px 0px 15px 0px #a1badd;
}

.grid {
    padding: 1rem;
}

.display {
    width: auto;
    height: 8rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: end;
    justify-content:end;
    flex-direction: column;
    row-gap: 2.8rem;
    border: 1px solid whitesmoke;
    background-color: #a1badd;
    border-radius: 10px;
    color: black;
}

.input {
    font-size: 1.5rem;
}

.output {
    font-size: 1rem;
}

.buttons button {
    height: 3rem;
    width: 3rem;
    margin: 3px;
    font-size: 15px;
    border-radius: 20px;
}